*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;

  @include responsive(tab-land) {
    font-size: 80%;
  }
  @include responsive(tab-port) {
    font-size: 75%;
  }
  @include responsive(phone) {
    font-size: 65%;
  }
  @include responsive(phone-small) {
    font-size: 60%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: $primary;
}

h1 {
  color: $white;
}

h2 {
  color: $white;
  font-size: $font-size * 1.5;
  font-weight: 600;
  margin: 0.5em 0;

  @include responsive(phone) {
    font-size: $font-size* 2;
  }
}

h3 {
  font-weight: 500;
  font-size: $font-size* 1.2;
  color: $white;


}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $white;
}

p, span {
  color: $white;
  font-size: $font-size * 2;
}


.container {
  margin: 0 auto;
  width: 90%;
}

.svg-icon {
  width: 4%;
  @include responsive(tab-port) {
    width: 5% !important;
  }

  @include responsive(phone) {
    width: 10%;
  }
}


.heroes-list > img {
  width: 50px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: $overwatch-dark;
}

::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 15px;
  border: 3px solid $primary;
}
