$primary: #27262b;
$accent: #7b6fff;
$white: #f4e2e2;
$green: #77b95b;
$dark: #342c58;

$font-size: 1rem;
$padding: 1em;
$nav-width: 15%;

$overwatch-dark: rgba(10, 10, 12, 0.3);
$overwatch-accent: #DAA011;
